# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

# Model weights
checkpoints
**/*.pth
**/*.onnx
**/*.pt
**/*.pth.tar

.idea
.vscode
.DS_Store
*.DS_Store

*.swp
tmp*

*build
*.egg-info/

log/*
*.mp4
*.png
*.jpg
*.wav
*.pth
*.pyc
*.jpeg
*.pkl

example/*
!example/
!example/trainset_example/
!example/trainset_example/fps25_mp4/
example/trainset_example/fps25_mp4/*
!example/trainset_example/fps25_mp4/*.mp4
!example/get_data_info_json_for_trainset_example.py
